* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    303.79deg,
    #f0c3fc -53.74%,
    #d7befc -4.64%,
    #bcb1fc 40.96%,
    #a1aefc 83.05%,
    #94bdfc 127.47%,
    #8ec5fc 170.73%
  );

  font-family: Inter;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px;
  height: auto;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #2024271a;
  border-radius: 8px;
}
